name: generate-snake-game-from-github-contribution-grid

on:
  schedule:
    - cron: "0 0 1 * *" # runs every month
  workflow_dispatch: # allows manual run
  push:
    branches:
      - main

jobs:
  generate:
    permissions: 
      contents: write  # Allows the action to push files back to your repo
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      # 1. Check out the repository so it can push changes later
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Generate the snake files in the "dist" folder
      - name: generate-snake-game-from-github-contribution-grid
        uses: Platane/snk@v3.4.1
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
            dist/github-snake-light.svg?palette=github-light

      # 3. Push the contents of "dist" to a special branch called "output"
      # This keeps your main branch clean!
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
