name: generate-snake-game-from-github-contribution-grid

on:
  # This triggers the action at 00:00 on the 1st of every month
  schedule:
    - cron: "0 0 1 * *"
  
  # Keeps the manual trigger so you can test it immediately
  workflow_dispatch:
  
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk@v3.4.1
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
            dist/github-snake-light.svg?palette=github-light
